body,html{height:100%;}

body
 {
    background: gray;   
    background-image:url("../source img/tourisme.jpg");
    background-repeat: no-repeat;
    background-size: 100% 200%;
     width:100%;
     overflow-x: hidden;
     
	
 }
     /*entete de la page*/
header{
	width:100%;
    height:10%;
    position: absolute;
    top: 0%;
    left:10%;
}
#entet{width:25%;}

#logo{font-family:cursive;
text-decoration: none;
position: absolute;
top:-9%;
left:0.5%
}
#logo:hover{transform: scale(1.2);}

h3{
    color: black;
    padding-left: 1%;
  }

    /* liste menu */

#menu{display: inline;
    font-style:italic;
    font-family:cursive;
     border: none;
    padding-left:3%;
    text-decoration: underline;
    align-content: center;
}

#listemenu{ 
    position:absolute;
    top:0%;
    left:10%;
    width:40%;
}

#a:visited{color: lightgray;}
#a:link{color: lightgray;}
#menu{color:lightgray;}
#menu:visited{color: lightgray;}

    /* MENU RECHERCHE */

#rech
{ background-image: url("../source img/search.PNG");
background-position:center;
background-repeat:no-repeat;
width:50px;
height: 30px;
    position: absolute; 
    top:0%;
    left:90%;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    font-style:italic;
    font-family:cursive;
     border: none;
}
#menurech{position:absolute;
    top:22%;
    left:45%;
    width:30%;}


.srch{width: 90%;
height: 30px;
border-bottom-left-radius: 20px;
border-top-left-radius: 20px;
text-align: center;
    font-style:italic;
    font-family:cursive;
    border: none;}
    
.srch:focus{outline: none;}

          /* ---------------hasdrubal hotels--------------*/
/*position de bloc n°1 */
#hasd{position:absolute;
top:20%;
left:5%;}

  /* taille et designe du bloc  */
.hot
{width:90%;
height: 30%;
box-shadow: 7px 5px 30px 1px black;
backdrop-filter:blur(5px);
}

/* image des hotel */ 
#image{width:25%;
height:100%;}

/*position du titre des hotel */
#titre1{position:absolute;
    top:-7%;
    left:25%;}

/* font de titre des hotel */
.font{
text-decoration: underline;
 font-style:italic;
    font-family:cursive;}
#site1{position:absolute;
top:90%;left:90%;color:black;
}
#site1:hover{transform: scale(1.3);
text-shadow: 2px 2px 2px gray;}
            
             /*---------radisson blue---------*/
#rad{position:absolute;
top:54%;
left:5%;}
          
    /*---------golden royal---------*/
#goldenroyal{position:absolute;
top:88%;
left:5%;}
     

    /*---------karthago---------*/
#karthago{position:absolute;
top:122%;
left:5%;}

    /*---------karthago---------*/
#ulysse{position:absolute;
top:155%;
left:5%;
margin-bottom:2%}
   /* icon localisation */
#local{
    width 10%;height: 10%;
    position: absolute;
    top: 20%;
    margin-left: 2%;}
 /* djerba */
#dj{
    width 10%;height: 10%;
    position: absolute;
    top: 23%;
    margin-left: 4%;
color:black;}

/*------ pied de la page-----*/
/* position du pied dela page */

footer
  {
	width:100%;
    height:39%;
    position:absolute;
    top:200%;
    left:0%;
     background-image: url("../source img/ff.jpg");
	 background-size: 100% auto;
	 background-repeat: no-repeat;
	 
	}
  /* icon facebok et instagram */
.iconisnta{width:39px;
height: 48px;}
.iconfb{margin-right: 2%;}

.iconfb:hover{transform: scale(1.5);}
.iconisnta:hover{transform: scale(1.5);}

#s4{
    position: relative;
    top:20%;
    left:45%;
}
 /* liste des service */
.s1{position: relative;
    top: 2%;
    left:1%;
    font-style:italic;
    font-family:cursive;}

.s1 li:hover{transform: scale(1.2);color: black;}

.s1 a:visited{color: black;}
.s1 a:link{color: black;}
 
/* about */
.s2{position: absolute;
    top: -1%;
  left:34%;font-style:italic;
    font-family:cursive;}

.s2 li:hover{transform: scale(1.2);color: black;}
.s2 a:visited{color: black;}
.s2 a:link{color: black;}

 /* dream travel */
.s3{position: absolute;
    top:-1%;
  left:74%;font-style:italic;
    font-family:cursive;}

 /* texte copyright */
.copyright{
    position: relative;
    top:1%;
    left:85%;font-style:italic;
    font-family:cursive;}



